/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body  {
    max-width: 576px;
} */

h1 {
    font-family:  'Nerko One', cursive;
    font-size: 45px;
    color: #ff9614;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px  #8f8f8f;
    padding: 20px;
}









/* RESPONSIVE LAYOUT */

@media screen and (min-width: 768px) {

    h1 {
        text-align: left;
    }

}