/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:  'Nerko One', cursive;
    font-size: 45px;
    color: #ff9614;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px  #8f8f8f;
    padding: 20px;
}

main {
    font-family: "Montserrat", serif;
    padding: 0px 25px;
}

img {
    width: 100%;
}

.hiddentext {
    display: none;
}

.subtitle {
    text-transform: uppercase;
    color: #9c99b0;
    font-size: 12px;
    padding-bottom: 25px;
}

h2,
.hiddentext {
    color: #4e3969;
    padding-bottom: 30px;
}








/* RESPONSIVE LAYOUT */

@media screen and (min-width: 768px) {

    h1 {
        text-align: left;
    }

    .hiddentext {
        display: inline;
    }

}